{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 1,
    "no-shadow": "off",
    "no-unused-vars": "off",
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4
      }
    ]
  }
}
